@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
	/*COR DA FONTE*/
	--color0: #FFFFFF;
	/*COR DO FUNDO */
	--bg: #11001C;
	/*FONTE FAMILY*/
	--font-normal: 'Inter', sans-serif;
	/*TRANSPARÊNCIA DOS BOTÃOS*/
	--transparent: rgba(255, 255, 255, 0.2);
	/*EFEITOS*/
	--effect: rgba(255, 255, 255, 0.05);
	/*IMAGEM DE FUNDO*/
	--bg-image: url(./assets/black.png);
	--bg-switch: url(./assets/icons/buttons/moon.svg);
}

.light {
	--color0: black;
	--bg: white;
	--transparent: rgba(0, 0, 0, 0.2);
	--effect: rgba(0, 0, 0, 0.05);
	--bg-image: url(./assets/light.png);
	--bg-switch: url(./assets/icons/buttons/sun.svg);
}

* {
	padding: 0px;
	margin: 0px;
	font-family: var(--font-normal);
	color: var(--color0);
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
}

#tela {
	display: block;
	width: 390px;
}

@media (min-width: 720px) {
	#tela {
		width: 790px;
	}
}

#profile {
	text-align: center;
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: 20px;
}

#profile > img {
	width: 150px;
	height: 150px;
  object-fit: cover;
  border-radius: 400px;
  border: 2px solid var(--color0);
  margin-bottom: 5px;
  box-shadow: 0px 0px 20px black;
}

@media (min-width: 720px) {
	#profile {
		font-size: 2em;
		margin-bottom: 20px;
	}
	
	#profile > img {
		width: 290px;
		height: 290px;
	}
}

#switch {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 20px;
}

#switch > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	background: var(--transparent);
	border-radius: 400px;
	border: 1px solid var(--color0);
}

#switch > div > button {
	width: 30px;
	height: 30px;
	background: white var(--bg-switch);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	border-radius: 100px;
}

@media (min-width: 720px) {
	#switch > div {
		width: 90px;
		height: 90px;
	}
	
	#switch > div > button {
		width: 65px;
		height: 65px;
	}
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 1.1em;
	margin: 0px 20px;
}

ul li > a {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--transparent);
	text-decoration: none;
	border: 1px solid var(--transparent);
	border-radius: 20px;
	padding: 15px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
  transition: background, padding 0.2s;
}

ul li > a:hover {
	background: var(--effect);
	border: 1.5px solid var(--color0);
	padding: 20px;
}

@media (min-width: 720px) {
	ul {
		gap: 20px;
		font-size: 2.1em;
		margin: 0px 40px;
	}
	
	ul li > a {
		border-radius: 30px;
		padding: 25px;
	}
	
	ul li > a:hover {
		border: 2.5px solid var(--color0);
		padding: 40px;
	}
}

#redes-sociais {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 50px;
}

#redes-sociais > a > img {
	width: 35px;
	height: 35px;
}

#redes-sociais > a {
	text-decoration: none;
	background: none;
	color: none;
	transition: 0.3s;
}

#redes-sociais > a:hover {
	border-radius: 100px;
	border: 1px solid var(--color0);
	padding: 10px 15px;
	background: var(--transparent);
}

@media (min-width: 720px) {
	#redes-sociais {
		gap: 70px;
		margin-top: 100px;
	}
	
	#redes-sociais > a img {
		width: 70px;
		height: 70px;
	}
	
	#redes-sociais > a:hover {
		border-radius: 400px;
		border: 1px solid var(--color0);
		padding: 20px 30px;
		background: var(--transparent);
	}
}

footer {
	text-align: center;
	font-size: .9em;
	margin-top: 50px;
}

@media (min-width: 720px) {
	footer {
		font-size: 1.9em;
		margin-top: 80px;
	}
}