@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
	/*COR DA FONTE*/
	--color0: #FFFFFF;
	/*COR DO FUNDO */
	--bg: #11001C;
	/*FONTE FAMILY*/
	--font-normal: 'Inter', sans-serif;
	/*TRANSPARÊNCIA DOS BOTÃOS*/
	--transparent: rgba(255, 255, 255, 0.2);
	/*EFEITOS*/
	--effect: rgba(255, 255, 255, 0.05);
	/*IMAGEM DE FUNDO*/
	--bg-image: url(./assets/black.png);
}

.light {
	--color0: black;
	--bg: white;
	--transparent: rgba(0, 0, 0, 0.2);
	--effect: rgba(0, 0, 0, 0.05);
	--bg-image: url(./assets/light.png);
}

* {
	padding: 0px;
	margin: 0px;
	font-family: var(--font-normal);
	color: var(--color0);
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#tela {
	display: block;
	width: 390px;
}

#profile {
	text-align: center;
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: 40px;
}

#profile > img {
	width: 150px;
	height: 150px;
  object-fit: cover;
  border-radius: 100px;
  border: 2px solid var(--color0);
  margin-top: 50px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 20px black;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 1.1em;
	margin: 0px 20px;
}

ul li > a {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--transparent);
	text-decoration: none;
	border: 1px solid var(--transparent);
	border-radius: 20px;
	padding: 15px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
  transition: background, padding 0.2s;
}

ul li > a:hover {
	background: var(--effect);
	border: 1.5px solid white;
	padding: 20px;
}

#redes-sociais {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-top: 50px;
}

#redes-sociais > a > img {
	width: 35px;
	height: 35px;
}

#redes-sociais > a {
	text-decoration: none;
	background: none;
	color: none;
	transition: 0.3s;
}

#redes-sociais > a:hover {
	border-radius: 100px;
	border: 1px solid var(--color0);
	padding: 10px 15px;
	background: var(--transparent);
}

article {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-top: 20px;
}

article > h1 {
	text-align: left;
}

article > a {
	width: 300px;
	text-indent: 10px;
	font-family: sans-serif;
	text-align: left;
}

footer {
	text-align: center;
	font-size: .9em;
	position: absolute;
	bottom: 12px;
}